
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    
    link(href='@fullcalendar/core/main.css' rel='stylesheet')
    link(href='@fullcalendar/daygrid/main.css' rel='stylesheet')
    link(href='@fullcalendar/timegrid/main.css' rel='stylesheet')
    link(href='@fullcalendar/list/main.css' rel='stylesheet')
    script(src="/dist/calendar.js")
    title Calendar
  body
    nav(class="navbar navbar-expand-lg navbar-light bg-light")
            a(class="navbar-brand" href="#"): img(src="/images/Logotipo_UCA.png" width="225" height="125")
            button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                span(class="navbar-toggler-icon")
            div(class="collapse navbar-collapse" id="navbarSupportedContent")
                ul(class="navbar-nav mr-auto")
                    li(class="nav-item active"): a(class="nav-link" href="#")='Reservas'
                    li(class="nav-item active"): a(class="nav-link" href="#")='Reportes'
                    li(class="nav-item active"): a(class="nav-link" href="#")='Búsqueda Avanzada'
                form(class="form-inline my-2 my-lg-0")
    br
    div(id="calendar" class="calendar")  
  
